@import url(./header.scss);
@import url(./landingPage.scss);

html, body{
    background-color: #0a0a0b;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margon: 0 auto;
    left: 0;
    top: 0;
}

html{
    min-height:100%;
    position:relative;
}
body{
    height: 100%;
}